numlockx &
xrandr --output HDMI-1 --primary --mode 2560x1080 --pos 0x0 --output eDP-1 --off &
setxkbmap br &
nitrogen --restore &
nm-applet &
blueman-applet &
firefox &
brave-browser-nightly &
slack &
discord &
cbatticon &
notion-snap &

